/*@BASETHEME:enlighter*/

.enlighter-t-wpcustom{
	color: #000000;
	border-radius: 8px;
	border: solid 1px #e0e0e0;
}
.enlighter-t-wpcustom .enlighter-btn{
	border-radius: 3px;
	background-color: #fff;
	color: #717171;
	font-size: 1em;
	padding: 0;
	border: 1px solid #e0e0e0;
	margin: 0 0 0 8px;
	text-decoration: none;
	width: 23px;
	height: 23px;
	background-position: 0 0;
	background-size: contain;
}
.enlighter-t-wpcustom .enlighter-btn:hover{
	border-color: #c9c9c9;
}
.enlighter-t-wpcustom .enlighter-btn:after{
	content: '';
}
.enlighter-t-wpcustom.enlighter-hover.enlighter-linenumbers div.enlighter>div:hover{
	color: #444;
	background-color: #fffcd3;
}
.enlighter-t-wpcustom.enlighter-hover div.enlighter>div:hover{
	color: #444;
	background-color: #fffcd3;
}
.enlighter-t-wpcustom .enlighter-raw{
	font-size: 1em;
	color: #000;
	background-color: #f9f9f9;
	border-radius: 8px;
	line-height: 1.4em;
	padding: 0 5px 0 60px;
}
.enlighter-t-wpcustom div.enlighter>div{
	border: solid 0 #fff;
	line-height: 1.35em;
	color: #aaa;
}
.enlighter-t-wpcustom div.enlighter>div:FIRST-CHILD{
	border-radius: 8px 8px 0 0;
}
.enlighter-t-wpcustom div.enlighter>div:LAST-CHILD{
	border-radius: 0 0 8px 8px;
}
.enlighter-t-wpcustom div.enlighter>div.enlighter-special{
	background-color: #fdf5f0;
}
.enlighter-t-wpcustom.enlighter-linenumbers div.enlighter>div::before{
	border-right: solid 1px #e0e0e0;
	background-color: #f9f9f9;
}
.enlighter-t-wpcustom.enlighter-linenumbers div.enlighter>div:FIRST-CHILD::before{
	border-radius: 8px 0 0 0;
}
.enlighter-t-wpcustom.enlighter-linenumbers div.enlighter>div:LAST-CHILD::before{
	border-radius: 0 0 0 8px;
}
.enlighter-t-wpcustom .enlighter-text{
	color: #000;
}
.enlighter-t-wpcustom .enlighter-c0{
	color: #666666;
}
.enlighter-t-wpcustom .enlighter-c1{
	color: #666666;
}
.enlighter-t-wpcustom .enlighter-c2{
	color: #666666;
}
.enlighter-t-wpcustom .enlighter-c9{
	color: #6C775A;
}
.enlighter-t-wpcustom .enlighter-k0{
	color: #008800;
	font-weight: 700;
}
.enlighter-t-wpcustom .enlighter-k1{
	color: #286491;
	font-weight: 700;
}
.enlighter-t-wpcustom .enlighter-k2{
	color: #458;
	font-weight: 700;
}
.enlighter-t-wpcustom .enlighter-k3{
	color: #000000;
	background-color: #ffffff;
	font-weight: 700;
}
.enlighter-t-wpcustom .enlighter-k4{
	color: #417F39;
	font-weight: 700;
}
.enlighter-t-wpcustom .enlighter-k5{
	color: #286491;
	font-weight: 700;
}
.enlighter-t-wpcustom .enlighter-k6{
	color: #286491;
	font-style: italic;
}
.enlighter-t-wpcustom .enlighter-k7{
	color: #286491;
	font-weight: 700;
}
.enlighter-t-wpcustom .enlighter-k8{
	color: #2C7DAF;
}
.enlighter-t-wpcustom .enlighter-k9{
	color: #990073;
	font-weight: 700;
}
.enlighter-t-wpcustom .enlighter-k10{
	color: #417F39;
	font-style: italic;
}
.enlighter-t-wpcustom .enlighter-e0{
	color: #34068a;
	font-weight: 700;
}
.enlighter-t-wpcustom .enlighter-e1{
	color: #34068a;
	font-weight: 700;
}
.enlighter-t-wpcustom .enlighter-e2{
	color: ##008521;
}
.enlighter-t-wpcustom .enlighter-e3{
	color: #286491;
}
.enlighter-t-wpcustom .enlighter-e4{
	color: #AD5F00;
	font-style: italic;
}
.enlighter-t-wpcustom .enlighter-s0{
	color: #DD2200;
}
.enlighter-t-wpcustom .enlighter-s1{
	color: #DD2200;
}
.enlighter-t-wpcustom .enlighter-s2{
	color: #DD2200;
}
.enlighter-t-wpcustom .enlighter-s3{
	color: #737383;
}
.enlighter-t-wpcustom .enlighter-s4{
	color: ##AD5F00;
	font-weight: 700;
}
.enlighter-t-wpcustom .enlighter-s5{
	color: #DD2200;
	font-style: italic;
}
.enlighter-t-wpcustom .enlighter-n0{
	color: #6600EE;
}
.enlighter-t-wpcustom .enlighter-n1{
	color: #6600EE;
}
.enlighter-t-wpcustom .enlighter-n2{
	color: #6600EE;
	font-style: italic;
}
.enlighter-t-wpcustom .enlighter-n3{
	color: #6600EE;
	font-style: italic;
}
.enlighter-t-wpcustom .enlighter-n4{
	color: #6600EE;
	font-style: italic;
}
.enlighter-t-wpcustom .enlighter-n5{
	color: #6600EE;
	text-decoration: underline;
}
.enlighter-t-wpcustom .enlighter-m0{
	color: #0086b3;
}
.enlighter-t-wpcustom .enlighter-m1{
	color: #0086b3;
}
.enlighter-t-wpcustom .enlighter-m2{
	color: #0086b3;
}
.enlighter-t-wpcustom .enlighter-m3{
	color: #0086b3;
}
.enlighter-t-wpcustom .enlighter-g0{
	color: #757575;
}
.enlighter-t-wpcustom .enlighter-g1{
	color: #757575;
}
.enlighter-t-wpcustom .enlighter-t0{
	color: #757575;
}
.enlighter-t-wpcustom .enlighter-t1{
	color: #000080;
	font-weight: 700;
}
.enlighter-t-wpcustom .enlighter-t2{
	color: #990073;
	font-weight: 700;
}
.enlighter-t-wpcustom .enlighter-t3{
	color: #007AA3;
}
.enlighter-t-wpcustom .enlighter-t4{
	color: #008A22;
}
.enlighter-t-wpcustom .enlighter-t5{
	color: #008A22;
}
.enlighter-t-wpcustom .enlighter-t6{
	color: #000080;
}
.enlighter-t-wpcustom .enlighter-t7{
	color: #535353;
	font-weight: 700;
}
.enlighter-t-wpcustom .enlighter-t8{
	color: #757575;
	background-color: #f0f0f0;
	font-style: italic;
}
.enlighter-t-wpcustom .enlighter-x1{
	color: #286491;
	font-weight: 700;
}
.enlighter-t-wpcustom .enlighter-x2{
	color: #2B7AAB;
}
.enlighter-t-wpcustom .enlighter-x10{
	color: #000;
	font-weight: 700;
}
.enlighter-t-wpcustom .enlighter-x11{
	color: #286491;
	font-weight: 700;
}
.enlighter-t-wpcustom .enlighter-x12{
	color: #286491;
	text-decoration: underline;
}
.enlighter-t-wpcustom .enlighter-x13{
	color: #0086b3;
}
.enlighter-t-wpcustom .enlighter-x14{
	color: #007575;
	font-style: italic;
}
.enlighter-t-wpcustom .enlighter-x15{
	color: #990073;
	font-style: italic;
}
.enlighter-t-wpcustom.enlighter-v-inline{
	border-radius: 3px;
	background-color: #fafafa;
}
.enlighter-t-wpcustom.enlighter-v-codegroup .enlighter,.enlighter-t-enlighter.enlighter-v-codegroup .enlighter-raw{
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.enlighter-t-wpcustom.enlighter-v-codegroup .enlighter div:first-child{
	border-radius: 0;
}
.enlighter-t-wpcustom.enlighter-v-codegroup .enlighter-codegroup-wrapper{
	position: relative;
}
.enlighter-t-wpcustom.enlighter-v-codegroup .enlighter-codegroup-switch{
	border-radius: 8px 8px 0 0;
	background-color: #f9f9f9;
	border-bottom: 1px solid #e0e0e0;
	padding: 5px 5px 5px 45px;
}
.enlighter-t-wpcustom.enlighter-v-codegroup .enlighter-codegroup-switch .enlighter-btn{
	padding: 3px 10px 3px 10px;
	border-radius: 4px;
	border: 1px solid #e0e0e0;
	font-size: 1em;
	color: #000;
	background-color: transparent;
	width: auto;
}
.enlighter-t-wpcustom.enlighter-v-codegroup .enlighter-codegroup-switch .enlighter-btn.enlighter-active{
	background-color: #e5e5e5;
	color: #000;
	border-color: #c9c9c9;
}
.enlighter-t-wpcustom .enlighter span{
}
.enlighter-t-wpcustom div.enlighter>div.enlighter-special:hover{
}